---

import Social from './Social.astro';
import GithubBrandIcon from '@/icons/GithubBrand.astro';
import NetWorkIcon from '@/icons/NetWork.astro';
import YoutubeIcon from '@/icons/Youtube.astro';


interface Props {
    title: string;
    description: string;
    image: string;
    link?: string;
    github?: string;
    video?: string;    
    tags: { name: string; icon: any }[]; 
}

const { title, description, image, link, tags, github, video } = Astro.props;

---

<div class="max-w-sm border border-blue-600 rounded-lg shadow bg-slate-950">
    
    <img class="rounded-t-lg" src={image} alt={`Captura de pantalla del proyecto ${title}`} />
   
    <div class="p-5">
 
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-600">
            {title}
        </h5>
  
        <p class="mb-3 font-normal text-gray-300">
            {description}
        </p>
        <ul >
            {tags.map(tag => (
                <li class="inline-block bg-gray-300 rounded-full px-2 py-1 text-sm font-semibold text-black mr-2 mb-2 ">
                    <tag.icon class="inline-block mr-1 size-6"/> {tag.name}
                </li>
            ))}
        </ul>
        
        <div class="grid grid-cols-2 gap-4 mt-6">
            
           
            <Social href={github} >
                <GithubBrandIcon  class="size-6"/> 
                Repositorio
            </Social>
            {
            link && 
                <Social href={link} >
                    <NetWorkIcon class="size-6"/> 
                     Deploy
                </Social>
            }
            {
                video && 
                   <Social href={video} >
                       <YoutubeIcon class="size-6"/> 
                        Video
                   </Social>
            }
                 
        </div>
    </div>
</div>
